@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
margin:0px;
padding:0px;
}
:root{
    --cor0:#BF6A4B;
    --cor1:#0e0601;
    --cor2:#734116;
    --cor3:#f1f1f1;
    --cor4:#F2B263;
    --fontBody:'Poppins';
    --fontMenu:'Poiret One';
}
body{
    background-color:var(--cor3);
    font-family:var(--fontBody);
   
}
header{
    background-image:url('../img/pexels-julia-volk-5273636.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height:500px;
}
header > h1{
    
    text-align: center;
    color:white;
}
#menu ul{
    list-style:none;
    padding:none;
    font-family:var(--fontMenu);
    font-size:1.4rem;
    float: right;
}
#menu ul li{
    display:inline;
}
#menu ul li a{
    text-decoration:none;
    padding: 4px 10px;
    color:white;
}
#menu ul li a:hover{
    border-bottom: 2px solid var(--cor2);
    transition-duration: 0.8s;
}
main{
    
    font-size: 1.1rem;
    line-height:2rem;
    text-align:center;
}
section{
   
    margin:auto;
    padding:15px;
}
#article1{
    max-width:1000px;
    max-height: 750px;
    margin: auto;
}
.parallax1{
    background-image:url('../img/pexels-pixabay-159862.jpg');
    background-repeat:no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 550px;
    color:white;
}
.container{
    height:80vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.number{
    background-color: royalblue;
    width: 90px;
    padding: 15px;
    margin: 5px;
}
.content{
    width:650px;
    height:100px;
    border:3px solid white;
    margin: 5px;
}
#article2{
    max-width:1000px;
    max-height:750px;
    margin:auto;
    font-size:1.2rem ;
    line-height: 2rem;
    color: var(--cor0);
}
#article2 button{
    display: block;
    margin-right: auto;
    margin-left: auto;
    padding:10px;
    text-transform:uppercase;
    border:3px solid var(--cor4);
    outline:none;
    font-size: 1.1rem;
}
 button:active{
transform:translateY(4px);
}
footer{
    background-color: grey;
    width: 100%;
    height:250px;
}
footer>h1, p{
    text-align: center;
    margin: 5px;
    padding: 5px;
}

@media screen and (max-width:800px) {
.container{
    width: 100%;
    height:600px ;
    display: block;
}
.content{
    width: 97%;
    font-size:0.98rem;
}
.parallax1{
    
    height: 750px;
    margin-bottom: 15px;
}
}
@media screen and (max-width:600px) {
    .container{
        width: 100%;
        height:600px ;
        display: block;
    }
    .content{
        width: 97%;
        font-size:0.98rem;
    }
    .parallax1{
        
        height: 750px;
        margin-bottom: 15px;
    }
    }